
<form #filterJob class="row header">
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-12 dropdown">
      <label for="role-filter">Job Role</label>
      <select name="role" [(ngModel)]="roleM" multiple id="role-filter">
        <option value="" disabled>Nothing Selected</option>
        <option value="{{roles}}" *ngFor="let roles of role">{{roles}}</option>
      </select>
    </div>
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-12 dropdown">
      <label for="technology-filter">Technology</label>
      <select name="technology" multiple [(ngModel)]="technologyM" id="technology-filter">
        <option value="" disabled>Nothing Selected</option>
        <option value="{{technologies}}" *ngFor="let technologies of technology">{{technologies}}</option>
      </select>
    </div>
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-12 dropdown">
      <label for="experience-filter">Experience</label>
      <select name="experience" [(ngModel)]="experienceM" id="experience-filter">
        <option value="" disabled>Nothing Selected</option>
        <option value="{{exp}}" *ngFor="let exp of experience">{{exp}}</option>
      </select>
    </div>
    <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-12 dropdown">
      <label for="ctc-filter">CTC</label>
      <input type="range" step="1" name="ctc" id="ctc-filter" [(ngModel)]="ctcM" value="{{ctcM}}" min="0" max="50">
      <div style="display: flex; justify-content: space-between;">
        <span>0LPA</span>
        <span>50LPA</span>
      </div>
    </div>
</form>

<div style="background-color: #c7eded; padding: 1%;">
  <div *ngFor="let item of filteredData; let i = index;" class="filteredData">
    <div class="col col-lg-6 col-md-6 col-sm-6 col-xl-6" style="margin-left:20%">
      <div style="display: flex; ">
        <div class="col col-lg-6 col-sm-12 col-md-6 col-xl-6" style="padding: 15px;">
          <img src="{{item.logo}}" alt="">
        </div>
        <div class="col col-lg-6 col-sm-12 col-md-6 col-xl-6" style="display: flex; flex-direction: column; padding-top: 25px ;">
          <span>{{item.company}}</span>
          <span>{{item.position}}</span>
          <span>{{item.experience}} | {{item.contract}} | {{item.location}}</span>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-6 col-xl-6" style="margin-right:20%">
      <div class="row"></div>
        <span class="col col-xl-4 col-lg-4 col-md-4" style="background-color: #c7eded; margin-right: 5px;">{{item.role}}</span>
        <span class="col col-xl-4 col-lg-4 col-md-4" >
          <span *ngFor="let t of item.technology" style="background-color: #c7eded; margin-right: 5px;">{{t}}</span>
        </span>
        <span class="col col-xl-4 col-lg-4 col-md-4" style="background-color: #c7eded; margin: 5px;">{{item.ctc}}-LPA</span>
    </div>
  </div>  
</div>